@font-face {
    font-family: coop;
    src: url("assets/fonts/coop.otf");
    font-display: swap;
}

@font-face {
    font-family: unelegant;
    src: url("assets/fonts/Unilegant.otf");
    font-display: swap;
}


body {
    margin: 0;
    font-family: Georgia, Times;
    margin: 0 auto;
}

main {
    display: grid;
    justify-items: center;
}

h1 {
    font-family: unelegant;
    font-size: 48px;
    margin: 0;
}

.logo {
    font-size: 48px;
    font-family: coop;
    width: 128px;
    height: 128px;
    border-radius: 128px;
    background: #3AFF01;
    background: radial-gradient(circle, #3AFF01 55%, #3AFF0147 65%, transparent 100%);
    display: grid;
    align-content: center;
    justify-content: center;
    grid-auto-flow: column;
    transform: rotate(-12deg);
    animation: logo-animation 12s linear infinite;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

@keyframes logo-animation {
    0% {
        transform: rotate(-12deg);
    }
    100% {
        transform: rotate(348deg);
    }
}


@media (prefers-reduced-motion) {
    .logo {
        animation: none;
    }
}
